.main_container
  .row
    .large-8.large-offset-2.medium-8.medium-offset-2.columns
      .intro_main
        .img_main
          =image_tag 'IMG_8908.JPG'
        .intro
          %h1 Budding web developer
          %h5 Petronella Simonsbacka loves creating
